<div class="wrapper">
  <i class="weather-condition c<%= city['condition_code'] %>"></i>

  <div class="city-information">
    <span class='city-name'><%= city['name'] %>, </span>
    <span class='country-name'><%= city['country'] %></span>
  </div>

  <div class="temperature"><%= city['temperature'] %> deg</div>

  <div class="currency">
    <span class="caption">Currency: </span>
    <span><%= city['currency'] %></span>
  </div>
</div>
